<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CucumberParallelTests" parallel="tests" thread-count="2">

    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name=""/>
        </classes>
    </test>

    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="path.to.CucumberTestRunner"/>
        </classes>
    </test>

</suite>
